<%- include('./partials/header') %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/programsAndEvents.css">
    </link>

    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="4000" data-pause="false">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-5" id="descriptive">
                            <div class="contents d-flex flex-column justify-content-around">
                                <h5 class="mb-4 font-weight-bold style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(38, 26, 70);">Programs that bring smile on someones face!</h5>
                                <h1 class="mb-4 mt-2 font-weight-bold" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: black;">
                                    Mothers are now being HERO for thieir daughters....
                                </h1>
                                <h5 class="mb-4 mt-1 font-weight-bold" style="color: rgb(38, 26, 70);">
                                    Indian Government, many companies and NGO's provides many programs and schemes for Indian womens who wish to make themself financially self sufficient....<br><br>scroll down and find such for you!
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-5 mt-3 mt-lg-0" id="illustration">
                            <div class="row justify-content-center align-items-center">
                                <img class="img-fluid" src="https://www.goodreturns.in/img/600x90/2016/04/women-29-1461910897.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="4000" data-pause="false">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-5 mt-3 mt-lg-0" id="illustration">
                            <div class="row justify-content-center align-items-center">
                                <img class="img-fluid" src="https://img.huffingtonpost.com/asset/5dd0e3bd210000406834d2b7.jpeg?ops=scalefit_970_noupscale" alt="">
                            </div>
                        </div>
                        <div class="col-lg-5" id="descriptive">
                            <div class="contents d-flex flex-column justify-content-around">
                                <h5 class="mb-4 font-weight-bold" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(38, 26, 70);">What business are you?</h5>
                                <h1 class="mb-4 mt-2 font-weight-bold" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: black;">
                                    Main hero message to sell yourself
                                </h1>
                                <h5 class="mb-4 mt-1 font-weight-bold" style="color: rgb(38, 26, 70);">
                                    Sub hero message lead. How would you benefit the customer. Short and crisp.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-interval="4000" data-pause="false">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-5" id="descriptive">
                            <div class="contents d-flex flex-column justify-content-around">
                                <h5 class="mb-4 font-weight-bold" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(38, 26, 70);">What business are you?</h5>
                                <h1 class="mb-4 mt-2 font-weight-bold" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: black;">
                                    Main hero message to sell yourself
                                </h1>
                                <h5 class="mb-4 mt-1 font-weight-bold" style="color: rgb(38, 26, 70);">
                                    Sub hero message lead. How would you benefit the customer. Short and crisp.
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-5 mt-3 mt-lg-0" id="illustration">
                            <div class="row justify-content-center align-items-center">
                                <img class="img-fluid" src="https://thelogicalindian.com/h-upload/2020/09/11/181461-motherweb.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#carouselExampleIndicators" class="carousel-control-prev carousel1-control-prev" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a href="#carouselExampleIndicators" class="carousel-control-next carousel1-control-next" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <button class="tablink" onclick="openPage('Programs', this, '#7e57a4')">PROGRAMS</button>
    <button class="tablink" onclick="openPage('Events', this, '#7e57a4')" id="defaultOpen">EVENTS</button>

    <div id="Programs" class="tabcontent">
        <ul>
            <!-- -------------------------------------------Fisrt Card------------------------------------------------------------------ -->
            <li class="booking-card" style="background-image: url(https://i.pinimg.com/236x/f1/3c/c8/f13cc814cdd75ea305a83c2f9f6672a1.jpg)">
                <div class="book-container">
                    <div class="content">
                        <a href="https://rmk.nic.in/" target="_blank"><button class="btn">Visit Website</button></a>
                    </div>
                </div>
                <div class="informations-container">
                    <h2 class="title">Rashtriya Mahila Kosh</h2>
                    <p class="sub-title">A national level organization for socio-economic empowerment of women</p>
                    <div class="more-information">
                        <div class="info-and-date-container">
                            <div class="box info">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <p>Govenment Program</p>
                            </div>
                            <div class="box date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <p>Since March 1993</p>
                            </div>
                        </div>
                        <p class="disclaimer">Its mission is to be a single window facilitator for provision of financial services with backward and forward linkages for women in the unorganized sector</p>
                    </div>
                </div>
            </li>

            <!-- -----------------------------------------------Second Card-------------------------------------------------------- -->
            <li class="booking-card" style="background-image: url(https://www.jagranimages.com/images/newimg/18022020/18_02_2020-sukanya_20041181.jpg)">
                <div class="book-container">
                    <div class="content">
                        <a href="https://wcd.nic.in/bbbp-schemes" target="_blank"><button class="btn">Visit Website</button></a>
                    </div>
                </div>
                <div class="informations-container">
                    <h2 class="title">Beti Bachao Beti Padhao</h2>
                    <p class="sub-title">It aims at prevention of gender biased sex selective elimination</p>
                    <div class="more-information">
                        <div class="info-and-date-container">
                            <div class="box info">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <p>Govenment Program</p>
                            </div>
                            <div class="box date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <p>Since January 2015</p>
                            </div>
                        </div>
                        <p class="disclaimer">Its mission is to ensure survival & protection of the girl child It also aims at ensuring education and participation of the girl child</p>
                    </div>
                </div>
            </li>
            <!-- -----------------------------------------------Third Card-------------------------------------------------------- -->
            <li class="booking-card" style="background-image: url(https://www.edristi.in/wp-content/uploads/2015/10/swadhar.jpg)">
                <div class="book-container">
                    <div class="content">
                        <a href="https://www.india.gov.in/spotlight/swadhar-greh-scheme" target="_blank"><button class="btn">Visit Website</button></a>
                    </div>
                </div>
                <div class="informations-container">
                    <h2 class="title">Swadhar Greh</h2>
                    <p class="sub-title">A Scheme for Women in Difficult Circumstances</p>
                    <div class="more-information">
                        <div class="info-and-date-container">
                            <div class="box info">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <p>Govenment Program</p>
                            </div>
                            <div class="box date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <p>Since June 2010</p>
                            </div>
                        </div>
                        <p class="disclaimer">Its mission is to cater to the primary need of shelter, food, clothing, medical treatment and care of the women in distress and who are without any social and economic support.</p>
                    </div>
                </div>
            </li>

            <!-- -----------------------------------------------Fourth Card-------------------------------------------------------- -->
            <li class="booking-card" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9jE5QFpZT8vydgBk7_LSQzPL2UjyxKx00sQ&usqp=CAU)">
                <div class="book-container">
                    <div class="content">
                        <a href="https://wcd.nic.in/schemes/ujjawala-comprehensive-scheme-prevention-trafficking-and-rescue-rehabilitation-and-re" target="_blank"><button class="btn">Visit Website</button></a>
                    </div>
                </div>
                <div class="informations-container">
                    <h2 class="title">UJJAWALA</h2>
                    <p class="sub-title">A Comprehensive Scheme for Prevention of trafficking and Rescue</p>
                    <div class="more-information">
                        <div class="info-and-date-container">
                            <div class="box info">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <p>Govenment Program</p>
                            </div>
                            <div class="box date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <p>Since November 2012</p>
                            </div>
                        </div>
                        <p class="disclaimer">It aims at prevention of trafficking and rescue, rehabilitation and re-integration of victims of trafficking and commercial sexual exploitation</p>
                    </div>
                    <p class="disclaimer">Its mission is to be a single window facilitator for provision of financial services with backward and forward linkages for women in the unorganized sector</p>
                </div>
    </div>
    </li>

    </ul>
    </div>
    <!------------------------------------------------Programs page ends here --------------------------------------------------------------- -->
    <!-- ---------------------------------------------Events page begins here --------------------------------------------------------------- -->
    <div id="Events" class="tabcontent">
        <ul>
            <!-- -------------------------------------------Fisrt Card------------------------------------------------------------------ -->
            <li class="booking-card" style="background-image: url(https://w.ndtvimg.com/domain/3/2017/02/28151153/Sanitary-Pads-With-A-Difference-How-Project-Baala-Is-Empowering-Rural-Women-3.jpg)">
                <div class="book-container">
                    <div class="content">
                        <a href="https://rmk.nic.in/" target="_blank"><button class="btn">Visit Website</button></a>
                    </div>
                </div>
                <div class="informations-container">
                    <h2 class="title">Sanitary Pads awareness programe</h2>
                    <p class="sub-title">A program on 12th march to make rural womens aware of usage of sanitary pads</p>
                    <div class="more-information">
                        <div class="info-and-date-container">
                            <div class="box info">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <p>A AatmaNiti Program</p>
                            </div>
                            <div class="box date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <p>Since March 1993</p>
                            </div>
                        </div>
                        <p class="disclaimer">Its mission is to be a single window facilitator for provision of financial services with backward and forward linkages for women in the unorganized sector</p>
                    </div>
                </div>
            </li>

            <!-- -----------------------------------------------Second Card-------------------------------------------------------- -->
            <li class="booking-card" style="background-image: url(http://blogs.und.edu/uletter/wp-content/uploads/sites/49/UND-WEP-FLYER.png)">
                <div class="book-container">
                    <div class="content">
                        <a href="https://rmk.nic.in/" target="_blank"><button class="btn">Visit Website</button></a>
                    </div>
                </div>
                <div class="informations-container">
                    <h2 class="title">Enterpreneurship Programme</h2>
                    <p class="sub-title">A national level program to help women build their own buisness</p>
                    <div class="more-information">
                        <div class="info-and-date-container">
                            <div class="box info">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                                <p>Govenment Program</p>
                            </div>
                            <div class="box date">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <p>Since March 1993</p>
                            </div>
                        </div>
                        <p class="disclaimer">Its mission is to be a single window facilitator for provision of financial services with backward and forward linkages for women in the unorganized sector</p>
                    </div>
                </div>
            </li>
        </ul>

    </div>

    <script>
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

    <section class="">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

        <div class="container py-5">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto text-center">
                    <h1 class="text-800" style="color: black;">Our best Moments</h1>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum odit dolorum autem laudantium repudiandae voluptatibus, veritatis unde maxime fuga cupiditate.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-4">
                        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item carousel-item-next carousel-item-left" data-interval="2000">
                                    <img src="/assets/c1.jpg" class="d-block w-100" alt="...">
                                    <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>
                      Nulla vitae elit libero, a
                      pharetra augue mollis interdum.
                    </p>
                  </div> -->
                                </div>
                                <div class="carousel-item" data-interval="2000">
                                    <img src="/assets/c2.JPG" class="d-block w-100" alt="...">
                                    <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>
                      Lorem ipsum dolor sit amet,
                      consectetur adipiscing elit.
                    </p>
                  </div> -->
                                </div>
                                <div class="carousel-item active carousel-item-left" data-interval="2000">
                                    <img src="/assets/c3.jpg" class="d-block w-100" alt="...">
                                    <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>
                      Praesent commodo cursus magna,
                      vel scelerisque nisl
                      consectetur.
                    </p>
                  </div> -->
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-4 mb-lg-0">
                            <img src="/assets/r1.jpg" alt="" style="height: 100%; width: 100%">
                        </div>
                        <div class="col-lg-6 mb-4 mb-sm-0">
                            <img src="/assets/r2.jpg" alt="" style="height: 100%; width: 100%">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex flex-column flex-lg-column-reverse">
                        <div class="row mb-4">
                            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="1" class=""></li>
                                    <li data-target="#carouselExampleCaptions" data-slide-to="2" class=""></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-interval="2000">
                                        <img src="/assets/c4.jpg" class="d-block w-100" alt="...">
                                        <!-- <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p>
                        Nulla vitae elit libero, a
                        pharetra augue mollis
                        interdum.
                      </p>
                    </div> -->
                                    </div>
                                    <div class="carousel-item" data-interval="2000">
                                        <img src="/assets/c5.jpg" class="d-block w-100" alt="...">
                                        <!-- <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                      </p>
                    </div> -->
                                    </div>
                                    <div class="carousel-item" data-interval="2000">
                                        <img src="/assets/c6.jpg" class="d-block w-100" alt="...">
                                        <!-- <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>
                        Praesent commodo cursus
                        magna, vel scelerisque nisl
                        consectetur.
                      </p>
                    </div> -->
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="row mb-lg-4">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="/assets/l1.jpg" alt="" style="height: 100%; width: 100%">
                            </div>
                            <div class="col-lg-6 mb-4 mb-sm-0">
                                <img src="/assets/l2.JPG" alt="" style="height: 100%; width: 100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./partials/footer') %>