body {
    background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}


#banner {
    height: 28em;
}

a, a:hover, a:active{
    text-decoration: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #281436 !important;
    border: none;
}

.btn-primary:hover{
    background-color: #8E4EBC !important;
}

#search{
    width:50% !important;
    margin: auto;
}

article{
    color:black !important;
    text-decoration: none;
}

.card{
    background-color: none;
}
