* {
    box-sizing: border-box
}


/* Set height of body and the document to 100% */

body,
html {
    /* margin-top: 50px; */
    font-family: Arial;
    background-image: linear-gradient(to top, #cd9cf2 0%, #e3c1fd 100%);
}


/* Style tab links */

.tablink {
    padding-left: 20%;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px 12px;
    font-size: 17px;
    font-weight: 600;
    width: 23%;
}


/* .tablink:hover {
          background-color: #777;
        } */


/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: white;
    display: none;
    padding: 70px 10px;
    height: 100%;
}


/* -------------------------------------------------------Styling Cards------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    font-family: "Sofia", sans-serif;
}

h2 {
    color: #0a4870;
    font-weight: 500;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

ul .booking-card {
    position: relative;
    width: 310px;
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #0a4870;
    transition: 0.3s;
}

ul .booking-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 72, 112, 0);
    transition: 0.3s;
}

ul .booking-card .book-container {
    height: 100px;
}

ul .booking-card .book-container .content {
    position: relative;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transform: translateY(-200px);
    transition: 0.3s;
}

ul .booking-card .book-container .content .btn {
    border: 3px solid white;
    padding: 10px 15px;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

ul .booking-card .book-container .content .btn:hover {
    background: rgb(255, 255, 255);
    border: 0px solid white;
    color: #0a4870;
}

ul .booking-card .informations-container {
    flex: 1 0 auto;
    padding: 2px;
    background: #f0f0f0;
    transform: translateY(206px);
    transition: 0.3s;
}

ul .booking-card .informations-container .title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

ul .booking-card .informations-container .title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 50px;
    margin: auto;
    background: #0a4870;
}

ul .booking-card .informations-container .price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

ul .booking-card .informations-container .price .icon {
    margin-right: 10px;
}

ul .booking-card .informations-container .more-information {
    opacity: 0;
    transition: 0.3s;
}

ul .booking-card .informations-container .more-information .info-and-date-container {
    display: flex;
}

ul .booking-card .informations-container .more-information .info-and-date-container .box {
    flex: 1 0;
    padding: 15px;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: white;
    font-weight: bold;
    font-size: 0.9em;
}

ul .booking-card .informations-container .more-information .info-and-date-container .box .icon {
    margin-bottom: 5px;
}

ul .booking-card .informations-container .more-information .info-and-date-container .box.info {
    color: green;
    margin-right: 10px;
}

ul .booking-card .informations-container .more-information .disclaimer {
    margin-top: 10px;
    font-size: 0.8em;
    color: #080000;
}

ul .booking-card:hover::before {
    background: rgba(10, 72, 112, 0.6);
}

ul .booking-card:hover .book-container .content {
    opacity: 1;
    transform: translateY(0px);
}

ul .booking-card:hover .informations-container {
    transform: translateY(0px);
}

ul .booking-card:hover .informations-container .more-information {
    opacity: 1;
}

@media (max-width: 768px) {
    ul .booking-card::before {
        background: rgba(10, 72, 112, 0.6);
    }
    ul .booking-card .book-container .content {
        opacity: 1;
        transform: translateY(0px);
    }
    ul .booking-card .informations-container {
        transform: translateY(0px);
    }
    ul .booking-card .informations-container .more-information {
        opacity: 1;
    }
}

h1 {
    margin: 10px 20px;
}

.carousel-inner .carousel-item img {
    height: 36em;
    object-fit: cover;
}